/* Pagina Planos */

body {
  background-color: #0c1014;
  color: white;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main-title {
  font-size: 62px;
  text-transform: uppercase;
  text-align: center;
  margin: 46px 0;
}

.header {
  display: flex;
  background-color: #05080a;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 36px;
  text-transform: uppercase;
  margin-left: 16px;
  letter-spacing: 2px;
}

.header__nav ul {
  display: flex;
  list-style-type: none;
  font-size: 18px;
  gap: 16px;
}

.header__nav a {
  color: white;
  text-decoration: none;
  padding: 14px;
  border-radius: 6px;
}

.header__nav a:hover {
  text-decoration: underline;
}

a.header__nav--active {
  background-color: #cbe300;
  color: #0c1014;
  pointer-events: none;
}

.pricing {
  display: flex;
  gap: 16px;
}

.pricing-plan {
  flex: 1;
  background-color: #1f262c;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 15px -6px black;
  display: flex;
  flex-direction: column;
}

.class-plan__title {
  text-transform: uppercase;
  border-bottom: 2px solid #cbe300;
  margin-top: 0;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

.pricing-plan p {
  margin-top: 0;
}

.pricing-plan__price {
  font-size: 34px;
}

.pricing-plan__features {
  margin: 0 0 35px;
  color: #b5b5b5;
  padding-left: 16px;
  line-height: 1.8;
  flex: 1;
}

.pricing-plan__features li::marker {
  color: #cbe300;
}

.pricing-plan__cta {
  text-decoration: none;
  color: #0c1014;
  background-color: #cbe300;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 10px;
  text-align: center;
}

.pricing-plan__cta:hover {
  outline: 2px solid #cbe300;
  background-color: transparent;
  color: white;
}



/* Pagina Home */

.title_home {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #cbe300;
  padding-bottom: 10px;
  letter-spacing: 5px;
}

.text_home {
  text-align: justify;
  font-weight: 600;
  font-size: 16px;
}

/* Pagina Contato */

.form_contato {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px 45px;
  background: #1d1d2e;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.font_title {
  color: white;
  font-size: 30px;
  margin: 2px;
}

section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
    color: white;
    font-size: 17px;
    margin-bottom: 8px;
}

form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus {
    border-radius: 16px;
}

form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus {
    border-radius: 16px;
}

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid white;
    color: white;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover {
    background-color: #f5f5f5;
    color: black;
    border-radius: 16px;
}

/* Pagina Obrigado */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    flex-direction: column;
}

.text_obrigado {
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}

.paragrafo {
    color: #f5f5f5;
    margin-bottom: 50px;
    font-size: 25px;
}

.btn {
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all 0.5s;
}

.btn:hover {
    border-radius: 16px;
}